src/main/mule/sqube-customrule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="94be1b15-6fe8-48da-b9ec-d9e6e39c2a64" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="60f18e38-be13-405b-afbd-6941aa4f1217" basePath="${req.bp}" >
		<http:request-connection host="${req.host}" port="${req.port}" />
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="43604f15-d627-40a3-ad5e-ebd31e0842d6" file="api\Config.raml" />
	<flow name="squbeCustomruleFlow" doc:id="92543378-2cac-4b35-9fea-e74190322339" >
		<http:listener doc:name="Listener" doc:id="3e2a9586-3c2c-483a-8612-36bc3f39052d" config-ref="HTTP_Listener_config" path="/getall"/>
		<http:request method="GET" doc:name="Request" doc:id="8c66974c-f794-473a-ab32-3deb0c7c0f61" config-ref="HTTP_Request_configuration" path="${req.Path}"/>
		<ee:transform doc:name="Transform Message" doc:id="af70de5b-34a7-4b74-bb14-bc44fff75fda" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1af1e78e-14ad-4e96-a34c-adc24ab36f7d" message="#[payload]"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="e11ace38-b02d-4003-92ee-f1c1d73b2564" />
		<foreach doc:name="for each" doc:id="e728e46f-da6a-4e74-a9c2-b90904487c4d" />
		
	</flow>
	
</mule>
